Flask
flask-cors
youtube-transcript-api
pyttsx3
beautifulsoup4
pymongo
PyPDF2
PyMuPDF
google-generativeai
langchain
langchain-community
langchain-groq
sentence-transformers
chromadb
python-pptx
reportlab
fpdf
redis
faiss-cpu
agno
requests
python-dotenv
jwt 
duckduckgo_search